body {
  background: url(../assets/images/background-body.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: rgba(253, 252, 255, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

#image-profile {
  weight: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid black;
  object-fit: cover;
}

.icon{
  width: 20px;
  height: 20px;
  font-size: medium;
}

.name-description{
  font-weight: 800; 
  font-size: medium;
}

.experience{
  background-color: rgba(253, 252, 255, 0.75);
  border-radius: 20px;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

#my-photography{
  background-color: rgba(253, 252, 255, 0.75);
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}